<div class="divHome" fxFlex="100" fxLayout="column" fxLayoutAlign="none center">

  <p style="font-size: 80px;">BEM VINDO!</p>

  <div fxLayout="row">
    <div fxFlex="50" style="text-align: justify; padding: 0 25px; font-size: 20px;">
      <p>Nam fermentum, arcu gravida egestas pulvinar, massa risus hendrerit urna, et ultricies arcu turpis nec neque. Donec sapien purus, auctor a leo et, placerat auctor justo. Nulla quis tempor libero. Vivamus vel egestas nisl, eu hendrerit tellus. Ut a nisi id libero cursus pretium. Nulla consequat ex mattis quam convallis, id varius libero aliquet. Vivamus ac tincidunt urna.</p>
    </div>
    <div fxFlex="50" fxLayoutAlign="center center">
      <img src="assets/images/social/147144.png" alt="" width="250px">
    </div>
  </div>


  <p class="title">PROJETOS</p>

  <div class="w-100-p card">
    <mat-card class="blur">
      <div class="content-matCard">

        <mat-card-header>
          <mat-card-title>Titulo</mat-card-title>
          <mat-card-subtitle>Start</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="height: 250px;"> -->
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>

      </div>
    </mat-card>
    <mat-card class="blur">
      <div class="content-matCard">

        <mat-card-header>
          <mat-card-title>Titulo</mat-card-title>
          <mat-card-subtitle>Start</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="height: 250px;"> -->
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>

      </div>
    </mat-card>
    <mat-card class="blur">
      <div class="content-matCard">

        <mat-card-header>
          <mat-card-title>Titulo</mat-card-title>
          <mat-card-subtitle>Start</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="height: 250px;"> -->
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>

      </div>
    </mat-card>
    <mat-card class="blur">
      <div class="content-matCard">

        <mat-card-header>
          <mat-card-title>Titulo</mat-card-title>
          <mat-card-subtitle>Start</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="height: 250px;"> -->
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>

      </div>
    </mat-card>
  </div>

  <!-- <div>
    <p>Contatos</p>
  </div> -->

</div>
