.title{
  font-size: 36px;
}

.card{
  gap: 2em;
  display: grid;
  grid-template-columns: auto auto;
}

.blur{
  color: #c2c2c2;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  border: 1px solid white;
}

.blur:hover{
  transform: 10px;
}

.blur:before{
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.411);
  filter: blur(10px);
  margin: -20px;
}

.content-matCard{


}

.divHome{
  padding: 0 2em;
  padding-bottom: 15px;
  min-height: 100vh;
}

.icon{
  margin: 0 5px;
}
