/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  //background: linear-gradient(135deg, #4b6cb7, #182848);
  background: #121212;
  color: #c2c2c2;
  background-image: url('assets/images/chalkboard.jpg');
  overflow-y: hidden;
}

.w-100-p{
  width: 100%;
}

.h-100-p{
  height: 100%;
}
