
<div id="navbar">

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="foto">
      <img src="assets/images/social/147144.png" alt="" width="150px">
    </div>
    <p>Dev Front-End</p>
  </div>
  <div style="margin-top: 20px;">
    <p>Social</p>

      <button mat-button class="buttonIcon" matTooltip="GitHub" matTooltipPosition="above">
        <fa-icon [icon]="iconGithub"></fa-icon>
      </button>
      <button mat-button class="buttonIcon" matTooltip="LinkedIn" matTooltipPosition="above">
        <fa-icon [icon]="iconLinkedin"></fa-icon>
      </button>
      <button mat-button class="buttonIcon" matTooltip="Instagram" matTooltipPosition="above">
        <fa-icon [icon]="iconInstagram"></fa-icon>
      </button>


  </div>
  <hr>
  <div>
    <p>Tecnologias</p>
    <div class="gridContainer">

      <button class="buttonDev" mat-icon-button matTooltip="Angular" matTooltipPosition="above">
        <img src="assets/images/dev/angular.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="TypeScript" matTooltipPosition="above">
        <img src="assets/images/dev/typescript.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="JavaScript" matTooltipPosition="above">
        <img src="assets/images/dev/javascript.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="HTML" matTooltipPosition="above">
        <img src="assets/images/dev/html.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="CSS" matTooltipPosition="above">
        <img src="assets/images/dev/css.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="Bootstrap" matTooltipPosition="above">
        <img src="assets/images/dev/bootstrap.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="Firebase" matTooltipPosition="above">
        <img src="assets/images/dev/firebase.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="Git" matTooltipPosition="above">
        <img src="assets/images/dev/git.svg" alt="">
      </button>
      <button class="buttonDev" mat-icon-button matTooltip="Sass" matTooltipPosition="above">
        <img src="assets/images/dev/sass.svg" alt="">
      </button>
    </div>
    <hr>
  </div>

</div>
